section.benefits{
    background: $background-color-second;
    padding: (2.5 + $header-height) 2.5rem 2.5rem 2.5rem;
    hr {
        border: none;
    }
    .container{
        background: white;
        border: 1px solid #E8E9ED;
        border-radius: 5px;
        padding: 2rem;
        margin-bottom: 3rem;
        img{
            display: block;
            margin: 0 auto 2rem auto;
            height: 50%;
            width: 50%;
        }
        h3{
            font-family: $second-font;
            font-weight: 400;
            font-size: 2rem;
            line-height: 2.5rem;
            margin: 0;
            margin-bottom: 2rem;
        }
        p{
            margin: 0;
            font-family: $main-font;
            line-height: 1.4rem;
        }
        &.last{
            padding: 0;
            h3{
                margin: 2rem;
            }
            p{
                margin: 2rem;
            }
        }
        &.mini{
            background: $secondary-color-green;
            margin-bottom: 0;
            img{
                width: 100%;
                height: 100%;
                margin: 100px 0 0 0;
            }
        }
    }
}