// colors
$main-color: #08A6E4;
$background-color: #FFF;
$background-color-second: #F7F7F7;
$font-color-second: #A5A5A5;
$secondary-color-red: #FB3B64;
$secondary-color-green: #55DFB4;
$secondary-color-blue: #07ACE6;

// fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Raleway:100,200,300,400,500,600,700,800,900&display=swap');
$main-font: 'Open Sans', sans-serif;
$second-font: 'Raleway', sans-serif;

//other
$header-height: 5rem;